//.centered {
//  margin-left: auto !important;
//  margin-right: auto !important;
//}
//
//.container-top-margin {
//  margin-top: 50px !important;
//}
//
//.padding-bottom-70-px{
//  padding-bottom: 70px !important;
//}

    // Animate.js Test

.green {
  width: 5rem;
  height: 5rem;
  margin: .5rem;
}

.blue {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}
    // Animate.js Test


.card {
  width: 5rem;
  height: 5rem;
  margin: .5rem;
}
