<div class="container">
  <% if @phones %>
    <% @phones.each do |phone| %>
      <%= phone.number %>
      <% if phone.called == false %>
        <%= link_to t('.set_as_called'), phone_update_path(phone.id), method: :post  %>
      <% else %>
        <%= t('.already_called') %>
      <% end %>
      <br/>
    <% end %>
  <% end %>
</div>
