<div class="container">
  <% if @phones %>
    <% @phones.each do |phone| %>
      <% if phone.called == false %>
        <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">
                  <h4><%= phone.number %></h4>
                  Avez vous appelé ce client?
                  <%= link_to t('.set_as_called'), phone_update_path(phone.id), class: "btn btn-primary", method: :post  %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

