    <div class="agency-footer custom-agency-footer">
    <a href="#" class="go-top">
      <i class="fa fa-angle-up"></i>
      TOP
    </a>
    <div class="row">
      <div class="col-12">
        <div class="cta text-center padding-bottom-70-px container-top-margin">
          <h1 class="cta-title margin m-3">
            Lancez votre business dans une autre dimension dès aujourd'hui.
          </h1>
          <a class="btn-shadow btn-shadow-info mr-md-1" href="#">
            On en parle?
          </a>
          <a class="btn-outline ml-md-1" href="#">
            Nos services
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" >
        <div class="col-md-3">
          <h4>Liens</h4>
          <a href="#" class="legal">Mentions légales</a>
          <a href="#" class="legal">Nous dire bonjour</a>
          <a href="#" class="legal">Espace client</a>
        </div>
        <div class="col-md-3">
          <h4>Adresse</h4>
          <p>
            10 fausse avenue
            75001 Paris, France
          </p>
        </div>
        <div class="col-md-3">
          <h4>Contact</h4>
          <p>
            contact@valto.fr
            <br>
            9h - 17h UTC+2
          </p>
        </div>
        <div class="col-md-3">
          <h4>Social</h4>
          <a href="#" class="social first">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-dribbble"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
