


        <!-- Front Card Flip -->
				<div class="card-flip blockcarte">
					<div class="flip">
						<div class="front blockcarte">
							<!-- front content -->
                                    <div class="card">
                                             
                                    </div>
                            <!-- front content -->    
						</div>
						<div class="back blockcarte">
							<!-- back content -->
							 <div class="card">

							 </div>
                            <!-- back content -->
						</div>
					</div>
				</div>
        <!-- End Card Flip -->



<!--      FORM     -->
  <div class="form">
    	<%= minimal_form_for root_path(@phone) do |f| %>
      		<%= f.input :number, placeholder: t('.number') %>
      		<%= f.button :submit, t('.send') %>
    	<% end %>
  </div>
  <!-- minimal_form_for is a version of simple_form_for without fields descriptions
  it's used exactly as simple_form_for -->
<!--      FORM     -->
<%= javascript_include_tag 'application' %>
