<% if current_user.admin == true %>
  <div class="form">
    <h1>Créer un nouveau contrat</h1>
    <%= minimal_form_for @new_contract, url:contract_index_path(id: @command.id), method: :post do |f| %>
      <%= f.input :contract_file, placeholder: 'nom du fichier du contrat' %>
       <%= f.input :command_id, as: :hidden, input_html: { value: @command.id } %>
      <%= f.button :submit, 'créer' %>
    <% end %>
  </div>
<% end %>
